<div class="container">

    <div class="row">
        <div class="col text-center">
            <h1>Muhamad Azmi Naziyulloh | </h1>
            <p>Backend Developer | Cyber Security  </p>
        </div>
    </div>
</div>